.submitBtn {
  text-align: center;
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  margin: 10px;
}

@media only screen and (max-width: 479px) {
  .submitBtn { 
    height: 45px;
    font-size: medium !important;
  }
}

.center {
  text-align: center;
}

.main {
  padding: 4rem 0;
  flex: 1;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
}

.codeMirror {
  min-width: 300px;
}

.codeView {
  min-width: 300px;
}