.submitBtn {
  text-align: center;
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
  /* padding: 0px 12px; */
  /* margin: 0 20px;   */
  /* padding: 5px; */
  margin: 10px;
  /* border-radius: 10px; */
}

.center {
  text-align: center;
}

.main {
  /* min-height: 100vh; */
  padding: 4rem 0;
  flex: 1;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  /* font-size: 0.75rem; */
}

.codeMirror {
  min-width: 300px;
}

.codeView {
  min-width: 300px;
}